html
head
    title Course Options
body
    br
    br
    form(method="POST", action="/student/ml", enctype="multipart/form-data")
        button(type="submit", name="ml") Machine Learning
    form(method="POST", action="/student/sd", enctype="multipart/form-data")
        button(type="submit", name="sd") Software Development