html
head
body
    h1="Format displayed:  Faculty-Slot-SeatsAvailable"
    br
    br
    h1=data1
    form(method="POST", action="/student/reg/add", enctype="multipart/form-data")
        label Enter the TEACHER for whom you want to register &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        input(name="teacher")
        button(type="submit") Register
    