html
head
title Registration Page
body
form(method="POST", action="/student", enctype="multipart/form-data")
    div
        br
        br
        br
        label Enter your name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        input(name="name" value="First Name")
        br 
        br
        br
        label Registration Number: &nbsp;
        input(name="reg")
        br
        br
        br
        button(type="submit") Submit