html
head
body
    h1="The Courses that you have registered for are:"
    br
    br
    h2=toView
    form(method="POST", action="/nextStep/menu", enctype="multipart/form-data")
        button(type="submit", name="ml") Back
    form(method="POST", action="/nextStep/quit", enctype="multipart/form-data")
        button(type="submit", name="sd") Exit